@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
// font-family: 'Poppins', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
// font-family: 'Open Sans', sans-serif;

$headingFont: "Poppins", sans-serif;
$bodyFont: "Open Sans", sans-serif;
$fontSize: 18px;
$darkBlue: hsl(192, 100%, 9%);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $bodyFont;
  font-size: $fontSize;
}

.header {
  position: relative;
  justify-content: center;
  background-color: hsl(193, 100%, 96%);
  #logo {
    position: absolute;
    top: 50px;
    left: 50px;
  }
  #tryBtn {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: $fontSize;
    font-weight: 700;
    background-color: hsl(192, 100%, 9%);
    color: hsl(193, 100%, 96%);

    padding: 15px 35px;
    border-radius: 25px;
    border: none;
    box-shadow: 2px 2px 2px #cccccc;
    opacity: 0.7;
    cursor: pointer;
  }
  #tryBtn:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  #mockup {
    position: absolute;
    top: 50px;
    right: -100px;
    transform: scale(0.75);
  }

  h1 {
    position: absolute;
    top: 250px;
    left: 50px;
    width: 33.3%;
    color: $darkBlue;
    font-weight: 600;
  }

  p {
    position: absolute;
    top: 350px;
    left: 50px;
    width: 40%;
    padding-top: 25px;
    font-size: $fontSize;
    color: $darkBlue;
    font-weight: 400;
  }

  #startBtn {
    position: absolute;
    top: 550px;
    left: 50px;
    padding: 20px 50px;
    border-radius: 30px;
    border: none;

    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    font-size: $fontSize;
    box-shadow: 2px 2px 2px #cccccc;
  }

  #startBtn:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.part1 {
  position: relative;
  width: 80%;
  height: 400px;
  background-color: hsl(193, 100%, 96%);
  border-radius: 15px;
  box-shadow: 2px 2px 2px #cccccc;
  margin: auto;
  margin-top: 50px;

  h1 {
    position: absolute;
    top: 125px;
    left: 50px;
    width: 33.3%;
    color: $darkBlue;
    font-size: 1.5rem;
  }

  p {
    position: absolute;
    top: 200px;
    left: 50px;
    width: 45%;
    font-size: $fontSize;
    color: hsl(208, 11%, 55%);
  }

  img {
    transform: scale(0.4);
    position: absolute;
    top: -200px;
    right: -200px;
  }
}

.part2 {
  position: relative;
  width: 80%;
  height: 400px;
  background-color: hsl(193, 100%, 96%);
  border-radius: 15px;
  box-shadow: 2px 2px 2px #cccccc;
  margin: auto;
  margin-top: 50px;

  h1 {
    position: absolute;
    top: 125px;
    right: 180px;
    width: 33.3%;
    color: $darkBlue;
    font-size: 1.5rem;
  }

  p {
    position: absolute;
    top: 200px;
    right: 50px;
    width: 45%;
    font-size: $fontSize;
    color: hsl(208, 11%, 55%);
  }

  img {
    transform: scale(0.4);
    position: absolute;
    top: -200px;
    left: -250px;
  }
}

.part3 {
  position: relative;
  width: 80%;
  height: 400px;
  background-color: hsl(193, 100%, 96%);
  border-radius: 15px;
  box-shadow: 2px 2px 2px #cccccc;
  margin: auto;
  margin-top: 50px;

  h1 {
    position: absolute;
    top: 125px;
    left: 50px;
    width: 33.3%;
    color: $darkBlue;
    font-size: 1.5rem;
  }

  p {
    position: absolute;
    top: 200px;
    left: 50px;
    width: 45%;
    font-size: $fontSize;
    color: hsl(208, 11%, 55%);
  }

  img {
    transform: scale(0.4);
    position: absolute;
    top: -200px;
    right: -200px;
  }
}

.cta {
  position: relative;
  width: 45%;
  height: 225px;
  background-color: hsl(193, 100%, 96%);
  border-radius: 15px;
  box-shadow: 2px 2px 2px #cccccc;
  margin: auto;
  margin-top: 100px;
  z-index: 500;

  h1 {
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
  }
  button {
    position: absolute;
    left: 200px;
    top: 125px;

    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    font-size: $fontSize;
    box-shadow: 2px 2px 2px #cccccc;
    padding: 20px 50px;
    border-radius: 30px;
    border: none;
  }

  button:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

footer {
  width: 100%;
  height: 600px;
  background-color: hsl(192, 100%, 9%);
  margin-top: -100px;
  position: relative;
  color: hsl(193, 100%, 96%);

  .bottom-logo {
    margin: 150px 0 50px 100px;
    color: #fff;
  }

  .location {
    margin-left: 100px;
    width: 25%;
    color: hsl(193, 100%, 96%);
  }
  .location-icon {
    padding-right: 25px;
  }

  .phone {
    margin-left: 100px;
    width: 25%;
    color: hsl(193, 100%, 96%);
  }

  .phone-icon {
    padding-right: 25px;
    padding-top: 25px;
  }

  .email {
    margin-left: 100px;
    width: 25%;
    color: hsl(193, 100%, 96%);
  }
  .email-icon {
    padding-right: 25px;
    padding-top: 25px;
  }

  #menu {
    font-size: $bodyFont;
    font-weight: 700;
    position: absolute;
    left: 40%;
    top: 43%;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
  }

  .copyright {
    position: absolute;
    right: 50px;
    bottom: 50px;
  }

  .social-icons {
    position: absolute;
    right: 50px;
    bottom: 250px;
    display: flex;
    padding: 75px;
    grid-gap: 25px;
    transform: scale(2);
  }

  .twitter {
    color: hsl(322, 100%, 66%);
    cursor: pointer;
    transform: scale(1.25);
    transition: 0.2s;
  }
  .facebook:hover {
    color: hsl(322, 100%, 66%);
    cursor: pointer;
    transform: scale(1.25);
    transition: 0.2s;
  }
  .twitter:hover {
    color: hsl(322, 100%, 66%);
    cursor: pointer;
    transform: scale(1.25);
    transition: 0.2s;
  }
  .instagram:hover {
    color: hsl(322, 100%, 66%);
    cursor: pointer;
    transform: scale(1.25);
    transition: 0.2s;
  }
}
