@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.header {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ebfbff;
}

.header #logo {
  position: absolute;
  top: 50px;
  left: 50px;
}

.header #tryBtn {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 18px;
  font-weight: 700;
  background-color: #00252e;
  color: #ebfbff;
  padding: 15px 35px;
  border-radius: 25px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px #cccccc;
          box-shadow: 2px 2px 2px #cccccc;
  opacity: 0.7;
  cursor: pointer;
}

.header #tryBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header #mockup {
  position: absolute;
  top: 50px;
  right: -100px;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

.header h1 {
  position: absolute;
  top: 250px;
  left: 50px;
  width: 33.3%;
  color: #00252e;
  font-weight: 600;
}

.header p {
  position: absolute;
  top: 350px;
  left: 50px;
  width: 40%;
  padding-top: 25px;
  font-size: 18px;
  color: #00252e;
  font-weight: 400;
}

.header #startBtn {
  position: absolute;
  top: 550px;
  left: 50px;
  padding: 20px 50px;
  border-radius: 30px;
  border: none;
  background-color: #ff52bf;
  color: #ebfbff;
  font-size: 18px;
  -webkit-box-shadow: 2px 2px 2px #cccccc;
          box-shadow: 2px 2px 2px #cccccc;
}

.header #startBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.part1 {
  position: relative;
  width: 80%;
  height: 400px;
  background-color: #ebfbff;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 2px #cccccc;
          box-shadow: 2px 2px 2px #cccccc;
  margin: auto;
  margin-top: 50px;
}

.part1 h1 {
  position: absolute;
  top: 125px;
  left: 50px;
  width: 33.3%;
  color: #00252e;
  font-size: 1.5rem;
}

.part1 p {
  position: absolute;
  top: 200px;
  left: 50px;
  width: 45%;
  font-size: 18px;
  color: #808d99;
}

.part1 img {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  position: absolute;
  top: -200px;
  right: -200px;
}

.part2 {
  position: relative;
  width: 80%;
  height: 400px;
  background-color: #ebfbff;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 2px #cccccc;
          box-shadow: 2px 2px 2px #cccccc;
  margin: auto;
  margin-top: 50px;
}

.part2 h1 {
  position: absolute;
  top: 125px;
  right: 180px;
  width: 33.3%;
  color: #00252e;
  font-size: 1.5rem;
}

.part2 p {
  position: absolute;
  top: 200px;
  right: 50px;
  width: 45%;
  font-size: 18px;
  color: #808d99;
}

.part2 img {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  position: absolute;
  top: -200px;
  left: -250px;
}

.part3 {
  position: relative;
  width: 80%;
  height: 400px;
  background-color: #ebfbff;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 2px #cccccc;
          box-shadow: 2px 2px 2px #cccccc;
  margin: auto;
  margin-top: 50px;
}

.part3 h1 {
  position: absolute;
  top: 125px;
  left: 50px;
  width: 33.3%;
  color: #00252e;
  font-size: 1.5rem;
}

.part3 p {
  position: absolute;
  top: 200px;
  left: 50px;
  width: 45%;
  font-size: 18px;
  color: #808d99;
}

.part3 img {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  position: absolute;
  top: -200px;
  right: -200px;
}

.cta {
  position: relative;
  width: 45%;
  height: 225px;
  background-color: #ebfbff;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 2px #cccccc;
          box-shadow: 2px 2px 2px #cccccc;
  margin: auto;
  margin-top: 100px;
  z-index: 500;
}

.cta h1 {
  text-align: center;
  margin-top: 50px;
  padding-top: 50px;
}

.cta button {
  position: absolute;
  left: 200px;
  top: 125px;
  background-color: #ff52bf;
  color: #ebfbff;
  font-size: 18px;
  -webkit-box-shadow: 2px 2px 2px #cccccc;
          box-shadow: 2px 2px 2px #cccccc;
  padding: 20px 50px;
  border-radius: 30px;
  border: none;
}

.cta button:hover {
  opacity: 0.7;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 600px;
  background-color: #00252e;
  margin-top: -100px;
  position: relative;
  color: #ebfbff;
}

footer .bottom-logo {
  margin: 150px 0 50px 100px;
  color: #fff;
}

footer .location {
  margin-left: 100px;
  width: 25%;
  color: #ebfbff;
}

footer .location-icon {
  padding-right: 25px;
}

footer .phone {
  margin-left: 100px;
  width: 25%;
  color: #ebfbff;
}

footer .phone-icon {
  padding-right: 25px;
  padding-top: 25px;
}

footer .email {
  margin-left: 100px;
  width: 25%;
  color: #ebfbff;
}

footer .email-icon {
  padding-right: 25px;
  padding-top: 25px;
}

footer #menu {
  font-size: "Open Sans", sans-serif;
  font-weight: 700;
  position: absolute;
  left: 40%;
  top: 43%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 100px;
      grid-template-columns: 100px 100px;
  grid-column-gap: 100px;
  grid-row-gap: 50px;
}

footer .copyright {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

footer .social-icons {
  position: absolute;
  right: 50px;
  bottom: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 75px;
  grid-gap: 25px;
  -webkit-transform: scale(2);
          transform: scale(2);
}

footer .twitter {
  color: #ff52bf;
  cursor: pointer;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer .facebook:hover {
  color: #ff52bf;
  cursor: pointer;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer .twitter:hover {
  color: #ff52bf;
  cursor: pointer;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer .instagram:hover {
  color: #ff52bf;
  cursor: pointer;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*# sourceMappingURL=styles.css.map */